@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(228, 228, 228));
  height:100vh;
}

.square {
  width: 12px;
  height: 12px;
  border: 1px solid #999;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 2px;
}


.filled {
  /* background-color: #444; */
  background-image: linear-gradient(to bottom right, rgb(210, 210, 210), rgb(176, 176, 176));
  border:none;
}

.birthweek {
  border: 2px solid rgb(126, 70, 215);
}

.viewported {
  border: 2px solid rgb(0, 94, 22);
}

.shade1 {
  background-image: linear-gradient(to bottom right, rgb(79, 208, 53), rgb(23, 182, 49));
}